@import 'styles/shared.scss';

.Phonebook {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 30px;
  background-color: rgb(181, 125, 255);

  &__form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__label {
    color: #fff;
  }

  &__input {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px 20px 0px;
    padding: 8px;
    border: none;
    outline: none;

    @media screen and (min-width: 715px) {
      margin: 0;
    }
  }
  &__button {
    max-width: 200px;
    width: 200px;
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
    background-color: rgba(130, 34, 255, 0.5);
    color: #fff;
    border: 1px solid #fff;
    @extend %button;
    transition: all 500ms linear;

    &:hover,
    &:focus {
      background-color: #fff;
      color: rgb(181, 125, 255);
    }
  }
}
